<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {% include 'common/header.html' %}

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                {% for category in categories  %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <h class="text-center">{{category.category_name}}</h>
                            <a class="btn btn-dark btn-sm m-1" href="{% url 'category' category.id %}">See details</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include 'common/footer.html' %}

</body>
</html>